@import "../utils/breakpoints";

header {
  position: relative;
  height: 90px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  text-transform: uppercase;

  .main-logo {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 102;
    @include media-breakpoint-only(lg) {
      left: 15px;
    }
    @include media-breakpoint-up(xl) {
      left: 30px;
    }
    @media (min-width: 1650px) {
      left: calc(66.6% - 1060px);
    }
  }

  #mobMenu {
    position: absolute;
    top: 90px;
    left: 15px;
    right: 15px;
    padding: 0 15px 30px;
    background-color: #ffffff;
    z-index: 90;
    @include media-breakpoint-down(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include media-breakpoint-up(md) {
      position: static;
      height: 90px;
      padding: 0;
    }
    @include media-breakpoint-up(lg) {
      height: 100%;
    }

    nav {
      display: flex;
      @include media-breakpoint-up(md) {
        padding-left: 130px;
      }
      @include media-breakpoint-only(md) {
        position: relative;
        order: 2;
      }
      @include media-breakpoint-up(lg) {
        height: 100%;
        padding-right: 0;
        order: unset;
        &::after {
          content: "";
          position: absolute;
          top: 25px;
          right: 0;
          height: 42px;
          width: 1px;
          background-color: #aeafb4;
        }
      }

      @include media-breakpoint-up(xl) {
        padding-left: 150px;
        justify-content: flex-end;
      }

      & > ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
          position: relative;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
        @include media-breakpoint-up(xl) {
          max-width: 950px;
        }

        & > li {
          height: 100%;
          @include media-breakpoint-up(md) {
            width: 100%;
            padding: 5px 0;
          }

          & > a,
          & > span {
            display: block;
            height: 100%;
            padding: 5px 0;
            font-size: 18px;
            transition: all .3s ease;
            @include media-breakpoint-up(md) {
              position: relative;
              padding: 0 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              white-space: nowrap;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background-color: #22A2FF;
                transition: all .3s ease;
              }
            }
          }

          &.has-sub-menu {
            .sub-menu {
              padding-left: 15px;
              text-transform: none;
              @include media-breakpoint-up(md) {
                position: absolute;
                top: 100%;
                left: -30px;
                right: 30px;
                max-height: 0;
                display: flex;
                padding: 50px 30px;
                transition: all .3s ease;
              }
              @include media-breakpoint-up(lg) {
                padding-top: 30px;
                right: 10px;
              }

              & > li {
                margin: 7px;
                @include media-breakpoint-up(md) {
                  margin: 0 10px;
                }

                h3 {
                  margin: 0;
                  font-size: 16px;
                  line-height: 20px;
                  color: #22a2ff;
                  @include media-breakpoint-up(md) {
                    height: 20px;
                    margin-bottom: 55px;
                    font-size: 19px;
                    line-height: 25px;
                  }
                  @include media-breakpoint-only(lg) {
                    margin-bottom: 60px;
                  }
                }
                li {
                  display: block;
                  position: relative;
                  margin: 5px 0;
                  &::before {
                    content: "";
                    width: 2px;
                    max-height: 0;
                    position: absolute;
                    top: 5px;
                    bottom: 3px;
                    left: -5px;
                    background-color: #22a2ff;
                    transition: all .3s ease;
                  }
                  &:hover {
                    &::before {
                      max-height: 100px;
                    }
                  }
                }
                a {
                  font-size: 14px;
                  @include media-breakpoint-up(md) {
                    font-size: 16px;
                  }
                }
              }
            }

            @include media-breakpoint-up(md) {
              &:hover .sub-menu {
                max-height: 3000px;
                z-index: 100;
                background-color: #ffffff;
              }
            }
          }

          &:hover,
          &.active {
            & > a,
            & > span {
              @include media-breakpoint-up(md) {
                background-color: rgba(226, 226, 226, 0.6);
                &::before {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      & + div {

        & > div {
          display: flex;
          flex-direction: column;
          @include media-breakpoint-up(md) {
            height: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0;
          }
          @include media-breakpoint-up(xl) {
            padding-right: 30px;
            max-width: 400px;
            justify-content: flex-start;
          }
        }

        .contacts {
          @include media-breakpoint-down(sm) {
            margin: 15px 0;
          }

          ul {
            display: flex;
            flex-direction: column-reverse;
            @include media-breakpoint-up(md) {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
            }
            @include media-breakpoint-only(lg) {
              flex-direction: column-reverse;
              align-items: flex-start;
              justify-content: space-between;
            }

            li {
              font-size: 14px;
              @include media-breakpoint-up(md) {
                display: flex;
                margin: 3px 10px;
                justify-content: center;
                align-items: center;
              }
              @include media-breakpoint-up(xl) {
                font-size: 16px;
              }

              i {
                margin-right: 10px;
              }
            }
          }
        }

        div.search {
          @include media-breakpoint-up(md) {
            width: auto;
            margin-left: 15px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: all .3s ease;

            &:focus-within {
              margin-left: 10px;
              position: absolute;
              left: 0;
              right: 0;
              z-index: 3;
              background: white;
              width: 100%;
              input {
                margin: 0 10px;
              }
            }

          }

          label {
            margin: 0;
            cursor: pointer;
          }

          input {
            padding: 0;
            border: none;
            outline: 0;
            border-bottom: 1px solid;
            border-radius: 0;
            transition: all .3s ease;
            @include media-breakpoint-up(md) {
              max-width: 0;
              &:focus {
                max-width: 100%;
                padding: 0 2px 1px;
              }
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 5px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    outline: 0;

    &:hover,
    &:focus {
      background-color: transparent;
      border: none;
      outline: 0;
    }

    span {
      position: relative;
      display: block;
      height: 2px;
      width: 28px;
      background-color: transparent;
      transition: all .3s ease;

      &::before,
      &::after {
        content: "";
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #0076c2;
        transition: all .3s ease;
      }

      &::before {
        top: -6px;
        transform: rotate(45deg);
        transform-origin: 7px 3px;
      }

      &::after {
        bottom: -6px;
        transform: rotate(-45deg);
        transform-origin: 4px 0;
      }
    }

    &.collapsed {
      span {
        background-color: #0076c2;

        &::before,
        &:after {
          transform: rotate(0);
        }
      }
    }
  }
}