.services-icons {

}

.service-icon {
  * {
    transition: all .3s ease;
  }
  p {
    opacity: 0;
  }
  &:hover {
    opacity: 1;

    .mob-apps-icon {
      width: 200.423px;
      height: 172.556px;
      #Path_44235 {
        d: path("M407.4,207.311l-9.361-5.44c-6.918,3.994-12.534,12.289-12.516,18.489l9.361,5.441C394.862,219.6,400.478,211.3,407.4,207.311Z");
      }
      #Group_24423 {
        transform: translate(70.648px, 12.156px) rotate(-9deg);
      }
      #Group_24438 {
        transform: translate(173.444px, 96.355px);
      }
      #Path_44003 {
        transform: translate(-409.272px, -178.193px);
      }
      #Group_24506 {
        transform: translate(106.332px, 130.199px);
      }
      #Path_44216 {
        transform: translate(-386.41px, -206.15px);
      }
      #Path_44241 {
        d: path("M384.447,209.467l3.746-2.176a2.787,2.787,0,0,0-.812-.323l-3.744,2.176a2.822,2.822,0,0,1,.811.323Z");
      }
      #Path_44267 {
        transform: translate(-390.501px, -213.464px);
      }
      #Group_24937 {
        transform: matrix(0.921, -0.391, 0.391, 0.921, 0, 131.724);
      }
    }
  }
  .mob-apps-icon {
    width: 137.13px;
    height: 136.095px;
    .cls-1 {
      fill: #f0f3f9;
    }

    .cls-2 {
      fill: url(#linear-gradient);
    }

    .cls-3 {
      fill: #b6bade;
    }

    .cls-4 {
      fill: none;
    }

    .cls-5 {
      fill: #cdd1f6;
    }

    .cls-6 {
      fill: #e3e5f5;
    }

    .cls-7 {
      fill: #b5b9dc;
    }

    .cls-8 {
      fill: #f3e7e0;
    }

    .cls-9 {
      fill: #f5f5fd;
    }

    .cls-10 {
      fill: #f2eae6;
    }

    .cls-11 {
      fill: url(#linear-gradient-2);
    }

    .cls-12 {
      fill: #b6ccdf;
      opacity: 0.3;
      mix-blend-mode: screen;
    }

    .cls-12, .cls-13 {
      isolation: isolate;
    }

    .cls-14 {
      clip-path: url(#clip-path);
    }

    .cls-15 {
      clip-path: url(#clip-path-2);
    }

    .cls-16 {
      fill: #f1f5fa;
    }

    .cls-17 {
      fill: url(#linear-gradient-4);
    }

    .cls-18 {
      fill: #141e30;
    }

    .cls-19 {
      fill: #98315d;
    }

    .cls-20 {
      fill: url(#linear-gradient-5);
    }

    .cls-21 {
      fill: #a5a9d3;
    }

    .cls-22 {
      clip-path: url(#clip-path-3);
    }

    .cls-23 {
      clip-path: url(#clip-path-4);
    }

    .cls-24 {
      clip-path: url(#clip-path-5);
    }

    .cls-25 {
      clip-path: url(#clip-path-6);
    }

    .cls-26 {
      clip-path: url(#clip-path-7);
    }

    .cls-27 {
      clip-path: url(#clip-path-8);
    }

    .cls-28 {
      clip-path: url(#clip-path-9);
    }

    .cls-29 {
      clip-path: url(#clip-path-10);
    }

    .cls-30 {
      fill: #c8cbe0;
    }

    .cls-31 {
      fill: url(#linear-gradient-6);
    }

    .cls-32 {
      clip-path: url(#clip-path-11);
    }

    .cls-33 {
      clip-path: url(#clip-path-12);
    }

    .cls-34 {
      clip-path: url(#clip-path-13);
    }

    .cls-35 {
      fill: url(#linear-gradient-7);
    }

    .cls-36 {
      fill: #dcdeed;
    }

    .cls-37 {
      fill: url(#linear-gradient-8);
    }

    .cls-38 {
      fill: #5c697c;
    }

    .cls-39 {
      fill: #1b1b1b;
    }

    .cls-40 {
      fill: #1b1823;
    }

    .cls-41 {
      fill: #404040;
    }

    .cls-42 {
      fill: #21212b;
    }

    .cls-43 {
      fill: #6d1487;
    }

    .cls-44 {
      opacity: 0.5;
      fill: url(#linear-gradient-9);
    }
    #Path_44235 {
      d: path("M407.4,207.311l-9.361-5.44c-6.918,3.994-12.534,12.289-12.516,18.489l9.361,5.441C394.863,219.6,400.478,211.3,407.4,207.311Z");
    }
    #Group_24423 {
      transform: translate(59.422px);
    }
    #Group_24438 {
      transform: translate(100.852px, 60.894px);
    }
    #Path_44003 {
      transform: translate(-409.273px, -178.193px);
    }
    #Group_24506 {
      transform: translate(61.739px, 93.738px);
    }
    #Path_44216 {
      transform: translate(-386.411px, -206.15px);
    }
    #Path_44241 {
      d: path("M384.447,209.467l3.746-2.176a2.787,2.787,0,0,0-.812-.323l-3.744,2.176a2.823,2.823,0,0,1,.811.323Z");
    }
    #Path_44267 {
      transform: translate(-390.502px, -213.464px);
    }
    #Group_24937 {
      transform: translate(0px, 68.441px);
    }
  }
}