body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Condensed", "Open Sans", serif;
  font-stretch: condensed;
  color: #0f111f;
}

main {
  padding-bottom: 30px;
}

h2 {
  font-size: 35px;
  line-height: 46px;
  font-weight: bold;
  color: #22a2ff;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.image-container {
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 5px 50px;
  font-size: 18px;
  letter-spacing: 0;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #ffffff;
  background-color: #ed4c14 !important;
}
.btn.blue {
  background-color: #22a2ff;
}
.btn.dark-blue {
  background-color: #172379;
}
.btn.dark-blue.arrow::after {
  content: url(../images/icons/next-blue.svg);
}
.btn.arrow {
  position: relative;
}
.btn.arrow::after {
  content: url(../images/icons/next-black.svg);
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.btn.arrow:hover::after {
  content: url(../images/icons/next-black.svg);
  transform: translateY(-50%) translateX(5px);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
}
.icon.address {
  width: 14px;
  background-image: url(../images/icons/gps.svg);
}
.icon.address.gray {
  background-image: url(../images/icons/gps-gray.svg);
}
.icon.phone {
  height: 18px;
  width: 18px;
  background-image: url(../images/icons/phone.svg);
}
.icon.phone.gray {
  background-image: url(../images/icons/phone-gray.svg);
}
.icon.mail {
  height: 15px;
  background-image: url(../images/icons/mail.svg);
}
.icon.search {
  width: 17px;
  height: 18px;
  background-image: url(../images/icons/search.svg);
}

.mainLogo .fill-white {
  fill: #ffffff;
  transition: all 0.3s ease;
}
.mainLogo .stroke-white {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 0.5;
  transition: all 0.3s ease;
}
.mainLogo #graph {
  transition: all 0.3s ease;
}
.mainLogo #ellipse_796 {
  transform: translate(22.438px, 1.855px);
}
.mainLogo #ellipse_797 {
  transform: translate(33.421px, 43.873px);
}
.mainLogo #ellipse_798 {
  transform: translate(6.075px, 37.269px);
}
.mainLogo #ellipse_799 {
  transform: translate(45.719px, 21.863px);
}
.mainLogo #ellipse_800 {
  transform: translate(33.717px, 11.753px);
}
.mainLogo #ellipse_801 {
  transform: translate(6.837px, 19.564px);
}
.mainLogo #ellipse_802 {
  transform: translate(19.085px, 41.707px);
}
.mainLogo #ellipse_803 {
  transform: translate(13.495px, 31.559px);
}
.mainLogo #ellipse_804 {
  transform: translate(40.732px, 32.491px);
}
.mainLogo #path_43206 {
  transform: translate(-358.664px, -211.593px);
}
.mainLogo #path_43207 {
  transform: translate(-359.017px, -214.446px);
}
.mainLogo #line_2 {
  transform: translate(35.241px, 24.149px);
}
.mainLogo #line_3 {
  transform: translate(20.609px, 34.319px);
}
.mainLogo #line_4 {
  transform: translate(7.965px, 39.871px);
}
.mainLogo #line_5 {
  transform: translate(24.724px, 4.141px);
}
.mainLogo #line_6 {
  transform: translate(8.361px, 21.088px);
}
.mainLogo #line_7 {
  transform: translate(8.361px, 21.088px);
}
.mainLogo #line_8 {
  transform: translate(15.019px, 4.141px);
}
.mainLogo #line_9 {
  transform: translate(24.724px, 4.141px);
}
.mainLogo #line_10 {
  transform: translate(35.241px, 13.277px);
}
.mainLogo #line_11 {
  transform: translate(8.361px, 21.088px);
}
.mainLogo #ellipse_805 {
  transform: translate(37.986px, 22.612px);
}
.mainLogo #ellipse_806 {
  transform: translate(32.659px, 37.157px);
}
.mainLogo #ellipse_807 {
  transform: translate(25.228px, 21.856px);
}
.mainLogo #ellipse_808 {
  transform: translate(17.987px, 21.094px);
}
.mainLogo #ellipse_809 {
  transform: translate(27.911px, 18.802px);
}
.mainLogo #ellipse_810 {
  transform: translate(28.674px, 21.856px);
}
.mainLogo #line_12 {
  transform: translate(15.019px, 33.077px);
}
.mainLogo:hover #graph {
  transform: matrix(0.891, -0.454, 0.454, 0.891, -1.129, 20.319);
}
.mainLogo:hover #ellipse_797 {
  transform: translate(25.237px, 28.357px);
}
.mainLogo:hover #ellipse_798 {
  transform: translate(6.075px, 23.951px);
}
.mainLogo:hover #ellipse_799 {
  transform: translate(33.627px, 14.338px);
}
.mainLogo:hover #ellipse_800 {
  transform: translate(25.598px, 8.163px);
}
.mainLogo:hover #ellipse_801 {
  transform: translate(6.837px, 13.141px);
}
.mainLogo:hover #ellipse_802 {
  transform: translate(19.085px, 26.191px);
}
.mainLogo:hover #ellipse_803 {
  transform: translate(13.495px, 20.786px);
}
.mainLogo:hover #ellipse_804 {
  transform: translate(30.552px, 21.38px);
}
.mainLogo:hover #path_43207 {
  transform: translate(-359.017px, -223.065px);
}
.mainLogo:hover #line_2 {
  transform: translate(23.957px, 8.633px);
}
.mainLogo:hover #line_3 {
  transform: translate(16.553px, 20.744px);
}
.mainLogo:hover #line_4 {
  transform: translate(7.965px, 24.355px);
}
.mainLogo:hover #line_5 {
  transform: translate(13.953px, 4.141px);
}
.mainLogo:hover #line_6 {
  transform: translate(2.315px, 14.11px);
}
.mainLogo:hover #line_7 {
  transform: translate(8.361px, 10.181px);
}
.mainLogo:hover #line_8 {
  transform: translate(15.019px, 3.225px);
}
.mainLogo:hover #line_9 {
  transform: translate(18.009px, 4.141px);
}
.mainLogo:hover #line_10 {
  transform: translate(25.761px, 6.213px);
}
.mainLogo:hover #line_11 {
  transform: translate(8.361px, 8.488px);
}
.mainLogo:hover #ellipse_805 {
  transform: translate(28.948px, 15.342px);
}
.mainLogo:hover #ellipse_806 {
  transform: translate(25.129px, 24.794px);
}
.mainLogo:hover #ellipse_807 {
  transform: translate(25.228px, 14.851px);
}
.mainLogo:hover #ellipse_808 {
  transform: translate(17.987px, 14.356px);
}
.mainLogo:hover #ellipse_809 {
  transform: translate(21.726px, 12.867px);
}
.mainLogo:hover #ellipse_810 {
  transform: translate(22.273px, 14.851px);
}
.mainLogo:hover #line_12 {
  transform: translate(15.019px, 21.258px);
}

header {
  position: relative;
  height: 90px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  text-transform: uppercase;
}
header .main-logo {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 102;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header .main-logo {
    left: 15px;
  }
}
@media (min-width: 1200px) {
  header .main-logo {
    left: 30px;
  }
}
@media (min-width: 1650px) {
  header .main-logo {
    left: calc(66.6% - 1060px);
  }
}
header #mobMenu {
  position: absolute;
  top: 90px;
  left: 15px;
  right: 15px;
  padding: 0 15px 30px;
  background-color: #ffffff;
  z-index: 90;
}
@media (max-width: 767.98px) {
  header #mobMenu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  header #mobMenu {
    position: static;
    height: 90px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  header #mobMenu {
    height: 100%;
  }
}
header #mobMenu nav {
  display: flex;
}
@media (min-width: 768px) {
  header #mobMenu nav {
    padding-left: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header #mobMenu nav {
    height: 60px;
    position: relative;
    order: 2;
  }
}
@media (min-width: 992px) {
  header #mobMenu nav {
    height: 100%;
    padding-right: 0;
    order: unset;
  }
  header #mobMenu nav::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    height: 42px;
    width: 1px;
    background-color: #aeafb4;
  }
}
@media (min-width: 1200px) {
  header #mobMenu nav {
    justify-content: flex-end;
  }
}
header #mobMenu nav > ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  header #mobMenu nav > ul {
    max-width: 900px;
  }
}
header #mobMenu nav > ul > li {
  height: 100%;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li {
    width: 100%;
  }
}
header #mobMenu nav > ul > li > a, header #mobMenu nav > ul > li > span {
  display: block;
  height: 100%;
  padding: 5px 0;
  font-size: 18px;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li > a, header #mobMenu nav > ul > li > span {
    position: relative;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
  }
  header #mobMenu nav > ul > li > a::before, header #mobMenu nav > ul > li > span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #22A2FF;
    transition: all 0.3s ease;
  }
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu {
  padding-left: 15px;
  text-transform: none;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu {
    position: absolute;
    top: 100%;
    left: -30px;
    right: 30px;
    max-height: 0;
    overflow: hidden;
    display: flex;
    transition: max-height 0.3s ease;
  }
}
@media (min-width: 992px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu {
    padding-top: 30px;
    right: 10px;
  }
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li {
  margin: 7px;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li {
    margin: 0 10px;
  }
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li h3 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #22a2ff;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li h3 {
    height: 20px;
    margin-bottom: 55px;
    font-size: 19px;
    line-height: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li h3 {
    margin-bottom: 60px;
  }
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li li {
  display: block;
  position: relative;
  margin: 5px 0;
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li li::before {
  content: "";
  width: 2px;
  max-height: 0;
  position: absolute;
  top: 5px;
  bottom: 3px;
  left: -5px;
  background-color: #22a2ff;
  transition: all 0.3s ease;
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li li:hover::before {
  max-height: 100px;
}
header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li a {
  font-size: 14px;
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li.has-sub-menu .sub-menu > li a {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li.has-sub-menu:hover .sub-menu {
    max-height: 3000px;
    padding: 50px 30px;
    z-index: 100;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  header #mobMenu nav > ul > li:hover > a, header #mobMenu nav > ul > li:hover > span, header #mobMenu nav > ul > li.active > a, header #mobMenu nav > ul > li.active > span {
    background-color: rgba(226, 226, 226, 0.6);
  }
  header #mobMenu nav > ul > li:hover > a::before, header #mobMenu nav > ul > li:hover > span::before, header #mobMenu nav > ul > li.active > a::before, header #mobMenu nav > ul > li.active > span::before {
    width: 100%;
  }
}
header #mobMenu nav + div > div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header #mobMenu nav + div > div {
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  header #mobMenu nav + div > div {
    padding-right: 30px;
    max-width: 400px;
    justify-content: flex-start;
  }
}
@media (max-width: 767.98px) {
  header #mobMenu nav + div .contacts {
    margin: 15px 0;
  }
}
header #mobMenu nav + div .contacts ul {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  header #mobMenu nav + div .contacts ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  header #mobMenu nav + div .contacts ul {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
}
header #mobMenu nav + div .contacts ul li {
  font-size: 14px;
}
@media (min-width: 768px) {
  header #mobMenu nav + div .contacts ul li {
    display: flex;
    margin: 3px 10px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  header #mobMenu nav + div .contacts ul li {
    font-size: 16px;
  }
}
header #mobMenu nav + div .contacts ul li i {
  margin-right: 10px;
}
@media (min-width: 768px) {
  header #mobMenu nav + div div.search {
    width: auto;
    margin-left: 15px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease;
  }
  header #mobMenu nav + div div.search:focus-within {
    margin-left: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background: white;
    width: 100%;
  }
  header #mobMenu nav + div div.search:focus-within input {
    margin: 0 10px;
  }
}
header #mobMenu nav + div div.search label {
  margin: 0;
  cursor: pointer;
}
header #mobMenu nav + div div.search input {
  padding: 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  header #mobMenu nav + div div.search input {
    max-width: 0;
  }
  header #mobMenu nav + div div.search input:focus {
    max-width: 100%;
    padding: 0 2px 1px;
  }
}
header .navbar-toggler {
  position: absolute;
  height: 30px;
  width: 30px;
  padding: 5px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  outline: 0;
}
header .navbar-toggler:hover, header .navbar-toggler:focus {
  background-color: transparent;
  border: none;
  outline: 0;
}
header .navbar-toggler span {
  position: relative;
  display: block;
  height: 2px;
  width: 28px;
  background-color: transparent;
  transition: all 0.3s ease;
}
header .navbar-toggler span::before, header .navbar-toggler span::after {
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #0076c2;
  transition: all 0.3s ease;
}
header .navbar-toggler span::before {
  top: -6px;
  transform: rotate(45deg);
  transform-origin: 7px 3px;
}
header .navbar-toggler span::after {
  bottom: -6px;
  transform: rotate(-45deg);
  transform-origin: 4px 0;
}
header .navbar-toggler.collapsed span {
  background-color: #0076c2;
}
header .navbar-toggler.collapsed span::before, header .navbar-toggler.collapsed span:after {
  transform: rotate(0);
}

.banner {
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.banner::after {
  content: "";
  width: 596px;
  height: 432px;
  position: absolute;
  right: 50%;
  top: -76px;
  background-image: url(../images/honeycombs.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(23%);
}
.banner .banner-image {
  min-height: 180px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner .banner-image {
    min-height: 250px;
  }
}
.banner .banner-content {
  padding: 35px 30px 40px;
  letter-spacing: 0;
  text-align: center;
  background-image: linear-gradient(71deg, #00a1ed 15%, #0063b0 85%);
}
@media (min-width: 992px) {
  .banner .banner-content {
    padding-left: 12%;
    padding-top: 10px;
    text-align: left;
  }
}
.banner .banner-content * {
  position: relative;
  z-index: 1;
}
.banner .banner-content h1,
.banner .banner-content .h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  text-transform: uppercase;
}
.banner .banner-content li {
  margin: 5px 10px;
  font-size: 17px;
  line-height: 23px;
}
.banner .banner-content .btn {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .banner .banner-content .btn {
    margin-top: 35px;
  }
}
.banner.homepage::after {
  right: 66%;
}
.banner.homepage .banner-content {
  position: relative;
  overflow: hidden;
}
.banner.homepage .banner-content::after {
  content: "";
  width: 596px;
  height: 432px;
  position: absolute;
  right: 0;
  background-image: url(../images/honeycombs.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.banner.homepage .banner-image {
  background-image: url(../images/homepage-banner.jpg);
  background-position: 65% center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .banner.homepage .banner-image {
    background-image: url(../images/homepage-banner@2x.jpg);
  }
}
.banner.homepage .banner-image::after {
  top: 0;
}
.banner.homepage .banner-content {
  padding-bottom: 40px;
  background-image: none;
  background-color: #0F111F;
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .banner.homepage .banner-content {
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .banner.homepage .banner-content {
    padding-bottom: 75px;
  }
}
.banner.homepage .banner-content::after {
  top: 380px;
  transform: rotate(-17deg);
}
@media (max-width: 991.98px) {
  .banner.homepage .banner-content::after {
    top: 340px;
    transform: scale(0.7) rotate(-17deg) translate(60%, -10%);
  }
}
.banner.homepage .banner-content p {
  color: #22A2FF;
}
.banner.homepage .banner-content h1 {
  margin: 20px 0;
  font-weight: normal;
  text-transform: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner.homepage .banner-content h1 {
    margin: 30px 0;
  }
}
@media (min-width: 992px) {
  .banner.homepage .banner-content h1 {
    margin: 43px 0;
  }
}
.banner.services-page .banner-image {
  background-image: url(../images/services-page-banner.jpg);
  background-position: 65% center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .banner.services-page .banner-image {
    background-image: url(../images/services-page-banner@2x.jpg);
  }
}
.banner.services-page .banner-image::after {
  top: 0;
}
@media (min-width: 1200px) {
  .banner.services-page .banner-content {
    padding-left: 12%;
  }
}
.banner.services-page .banner-content::after {
  top: 380px;
  transform: rotate(-17deg);
}
@media (max-width: 991.98px) {
  .banner.services-page .banner-content::after {
    top: 340px;
    transform: scale(0.7) rotate(-17deg) translate(60%, -10%);
  }
}
.banner.services-page .banner-content p {
  color: #22A2FF;
}
.banner.services-page .banner-content h1 {
  margin: 20px 0;
  font-weight: normal;
  text-transform: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner.services-page .banner-content h1 {
    margin: 30px 0;
  }
}
@media (min-width: 992px) {
  .banner.services-page .banner-content h1 {
    margin: 43px 0;
  }
}

footer {
  position: relative;
  background-color: #676767;
  overflow: hidden;
  /* footer right bottom corner's graphics */
}
footer .container-fluid {
  max-width: 1400px;
  padding: 40px 15px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer .container-fluid {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }
}
@media (min-width: 992px) {
  footer .container-fluid {
    padding: 70px 15px;
    align-items: stretch;
  }
}
footer .container-fluid > div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .container-fluid > div {
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  footer .container-fluid > div {
    flex-direction: row;
    align-items: stretch;
  }
}
footer::after {
  content: "";
  position: absolute;
  bottom: -170px;
  right: -186px;
  width: 560px;
  height: 400px;
  background-image: url(../images/footer-graphics.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(4deg);
}
@media (min-width: 992px) {
  footer::after {
    bottom: -145px;
    right: -220px;
  }
}
@media (min-width: 1700px) {
  footer::after {
    bottom: -95px;
    right: -200px;
  }
}
footer .logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo-container img {
  width: 104px;
  height: 104px;
  z-index: 1;
  transition: transform 0.3s ease;
}
footer .logo-container:hover img {
  transform: scale(1.1);
}
footer h3 {
  height: 25px;
  margin: 0 0 50px 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.32;
}
footer .contacts {
  width: 233px;
}
@media (max-width: 1199.98px) {
  footer .contacts {
    margin: 30px 0;
  }
}
@media (min-width: 992px) {
  footer .contacts {
    margin: 0 50px;
  }
}
footer .contacts li {
  margin: 12px 0;
  font-size: 17px;
  line-height: 1.35;
}
footer .contacts li .icon {
  margin-right: 12px;
  opacity: 0.4;
}
footer .site-map {
  display: inline-flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  footer .site-map {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  footer .site-map > li {
    width: 30%;
  }
}
footer .site-map ul li {
  margin: 5px 0;
}

.service-list {
  background-color: rgba(226, 226, 226, 0.3);
}
.service-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
@media (min-width: 1200px) {
  .service-list ul {
    max-width: 1400px;
  }
}
.service-list ul li {
  width: 100%;
  padding: 20px 15px;
  letter-spacing: 0;
  text-align: left;
  transition: all 0.3s ease;
}
@media (min-width: 576px) {
  .service-list ul li {
    width: 50%;
    padding: 30px 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .service-list ul li {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .service-list ul li {
    width: 25%;
    padding: 40px 15px;
  }
}
.service-list ul li:hover {
  background-color: rgba(226, 226, 226, 0.6);
}
.service-list ul li:hover .learn-more::after {
  width: 15px;
}
.service-list ul li a {
  display: inline-block;
}
.service-list ul li .title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.service-list ul li .title img {
  margin-right: 20px;
}
.service-list ul li .title h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.service-list ul li p {
  margin-bottom: 0;
}
.service-list ul li .learn-more {
  margin-top: 10px;
  color: #22a2ff;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s ease;
}
.service-list ul li .learn-more::after {
  content: "..";
  display: inline-block;
  width: 0;
  line-height: 10px;
  overflow: hidden;
  transition: all 0.2s ease;
}

@media (min-width: 992px) {
  .content-row:nth-child(odd) .content {
    padding-right: 115px;
  }
}
.content-row:nth-child(even) {
  background-color: rgba(226, 226, 226, 0.3);
}
.content-row:nth-child(even) .container {
  flex-direction: row;
}
@media (min-width: 992px) {
  .content-row:nth-child(even) .content {
    padding-left: 72px;
  }
}
.content-row .container {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .content-row .container {
    padding-top: 67px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .content-row .container {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .content-row .container {
    align-items: flex-start;
  }
}
.content-row img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}
@media (min-width: 992px) {
  .content-row img {
    margin-top: 8px;
    width: calc(50% + 5px);
  }
}
.content-row .content {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .content-row .content {
    margin-top: 0;
    width: calc(50% - 5px);
  }
}
.content-row .content h2 {
  margin-top: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #22a2ff;
}
.content-row .content .bold {
  margin: 10px 0 25px;
  line-height: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .content-row .content .bold {
    margin: 20px 0 35px;
  }
}
@media (min-width: 992px) {
  .content-row .content .bold {
    margin: 30px 0 45px;
  }
}
.content-row .content .read-more {
  font-size: 14px;
  line-height: 1.71;
  color: #22a2ff;
}
.content-row .content .read-more::after {
  content: ">";
  line-height: 9px;
  display: inline-block;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.content-row .content .read-more:hover::after {
  content: ">";
  display: inline-block;
  width: 10px;
  margin-left: 6px;
  text-align: right;
}

.services {
  padding: 45px 15px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .services {
    flex-direction: row;
    justify-content: space-around;
  }
}
.services > div {
  margin-top: 20px;
}
.services > div ul {
  margin: 25px 5px;
  font-family: Roboto, "Open Sans", serif;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .services > div ul {
    font-size: 18px;
  }
}
.services > div ul li {
  position: relative;
  padding-left: 8px;
}
.services > div ul li::before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}

.services-icons {
  position: relative;
  padding: 30px;
  overflow: hidden;
  background-image: radial-gradient(closest-side at 50% 50%, #9D0073 0%, #3E0264 100%);
}
.services-icons::before {
  content: "";
  width: 596px;
  height: 432px;
  position: absolute;
  right: 50%;
  top: 50%;
  background-image: url(../images/honeycombs-lg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  transform: translate(50%, -50%);
}
.services-icons > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  z-index: 2;
}
.services-icons > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 575.98px) {
  .services-icons > div > div:nth-of-type(1) {
    align-content: flex-end;
  }
}
@media (max-width: 575.98px) {
  .services-icons > div > div:nth-of-type(1) svg {
    left: calc(50% + 30px);
  }
}
@media (max-width: 575.98px) {
  .services-icons > div > div:nth-of-type(3) {
    align-content: flex-start;
  }
}
@media (max-width: 575.98px) {
  .services-icons > div > div:nth-of-type(3) svg {
    left: calc(50% - 30px);
  }
}
@media (max-width: 767.98px) {
  .services-icons > div > div:nth-of-type(2) {
    display: none;
  }
}
.services-icons > div > div:not(:nth-of-type(2)) {
  justify-content: center;
}

.service-icon {
  position: relative;
  display: flex;
  width: 218px;
  height: 220px;
  justify-content: center;
  align-items: flex-end;
}
.service-icon * {
  transition: all 0.3s ease;
}
.service-icon svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.service-icon p {
  margin: 0;
  font-family: Roboto, "Open Sans", serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
@media (hover: hover) {
  .service-icon p {
    opacity: 0;
  }
}
.service-icon#icon1 {
  height: 235px;
}
.service-icon#icon3 {
  width: 400px;
  height: 300px;
}
.service-icon#icon4 {
  height: 240px;
}
@media (hover: hover) {
  .service-icon:hover p {
    opacity: 1;
  }
}
.service-icon:hover #infrastructure_1_ {
  width: 213px;
  height: 188px;
}
.service-icon:hover #infrastructure_1_ #infrastructure {
  transform: translate(21px, 25px);
}
.service-icon:hover #infrastructure_1_ #internet {
  transform: translate(46.367px, -25px);
}
.service-icon:hover #infrastructure_1_ #server {
  transform: translate(-21px, 67.125px);
}
.service-icon:hover #infrastructure_1_ #wifi {
  transform: translate(4.366px, 6.864px);
}
.service-icon:hover #infrastructure_1_ #laptop {
  transform: translate(4.366px, 6.864px);
}
.service-icon:hover #infrastructure_1_ #cloud {
  transform: translate(62.423px, 81.533px);
}
.service-icon:hover #infrastructure_1_ #router {
  transform: translate(34.06px, 134.404px);
}
.service-icon:hover #infrastructure_1_ #messages {
  transform: translate(40.605px, 101.584px);
}
.service-icon:hover #infrastructure_1_ #doc {
  transform: translate(41.022px, 56.149px);
}
.service-icon:hover #infrastructure_1_ #mail {
  transform: translate(128.837px, 86.988px);
}
.service-icon:hover #mob_apps {
  width: 200.423px;
  height: 172.556px;
}
.service-icon:hover #mob_apps #desktop {
  transform: translate(70.648px, 12.156px) rotate(-9deg);
}
.service-icon:hover #mob_apps #phone_1 {
  transform: translate(173.444px, 96.355px);
}
.service-icon:hover #mob_apps #watch {
  transform: translate(106.332px, 130.199px);
}
.service-icon:hover #mob_apps #phone {
  transform: matrix(0.921, -0.391, 0.391, 0.921, 0, 131.724);
}
.service-icon:hover #full_cycle {
  height: 297px;
  width: 400px;
}
.service-icon:hover #full_cycle #cloud {
  transform: translate(29.039px, 0) rotate(9deg);
}
.service-icon:hover #full_cycle #phone {
  transform: translate(90.948px, 242.351px);
}
.service-icon:hover #full_cycle #laptop {
  transform: translate(155.452px, 64.169px);
}
.service-icon:hover #full_cycle #white_message {
  transform: translate(365.479px, 82.543px);
}
.service-icon:hover #full_cycle #red_message {
  transform: translate(306.622px, 72.378px);
}
.service-icon:hover #full_cycle #yellow_message {
  transform: matrix(0.875, -0.485, 0.485, 0.875, 27.534, 219.693);
}
.service-icon:hover #web_apps {
  width: 194px;
  height: 187px;
}
.service-icon:hover #web_apps #desktop {
  transform: translate(38.122px);
}
.service-icon:hover #web_apps #station {
  transform: translate(130.789px, 109.572px);
}
.service-icon:hover #web_apps #white_message {
  transform: translate(157.859px, 39.06px);
}
.service-icon:hover #web_apps #phone {
  transform: translate(0, 109.686px);
}
.service-icon:hover #web_apps #yellow_message {
  transform: translate(0, 5px);
}
.service-icon:hover #iot_integration {
  width: 174px;
  height: 159px;
}
.service-icon:hover #iot_integration #phone {
  transform: translate(62.165, 88.532px);
}
.service-icon:hover #iot_integration #layout {
  d: path("M79.3,88.3l-41.5,24l56.9,33l41.5-24L79.3,88.3z");
}
.service-icon:hover #iot_integration #arrows {
  transform: translate(97.337px, 58.52px);
}
.service-icon:hover #iot_integration #cloud {
  transform: translate(73.775px);
}
.service-icon:hover #iot_integration #data {
  transform: translate(62.407, 78.196px);
}
.service-icon:hover #iot_integration #man {
  transform: translate(71.885px, 33.19px);
}
.service-icon:hover #iot_integration #message {
  transform: translate(11.782px, 108.261px);
}
.service-icon:hover #iot_integration #doc {
  transform: translate(0, 58.978px);
}
.service-icon:hover #iot_integration #mail {
  transform: translate(50.629px, 38.261px);
}
.service-icon #infrastructure_1_ {
  width: 154px;
  height: 152px;
}
.service-icon #infrastructure_1_ #internet {
  transform: translate(13.828px);
}
.service-icon #infrastructure_1_ #server {
  transform: translate(0, 54.983px);
}
.service-icon #infrastructure_1_ #wifi {
  transform: translate(21.705px, 26.573px);
}
.service-icon #infrastructure_1_ #laptop {
  transform: translate(49.117px, 57.018px);
}
.service-icon #infrastructure_1_ #cloud {
  transform: translate(60.083, 78.476px);
}
.service-icon #infrastructure_1_ #router {
  transform: translate(34.708px, 123.589px);
}
.service-icon #infrastructure_1_ #messages {
  transform: translate(44.857px, 97.775px);
}
.service-icon #infrastructure_1_ #doc {
  transform: translate(51.034px, 58.856px);
}
.service-icon #infrastructure_1_ #mail {
  transform: translate(90.318px, 62.551px);
}
.service-icon #infrastructure_1_ .st0 {
  opacity: 0.2;
}
.service-icon #infrastructure_1_ .st1 {
  fill: #119CED;
  fill-opacity: 0;
}
.service-icon #infrastructure_1_ .st2 {
  opacity: 0.048;
  fill: #1CA0EE;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st3 {
  opacity: 0.095;
  fill: #27A4EF;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st4 {
  opacity: 0.143;
  fill: #32A9EF;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st5 {
  opacity: 0.19;
  fill: #3CADF0;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st6 {
  opacity: 0.238;
  fill: #47B1F1;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st7 {
  opacity: 0.286;
  fill: #52B5F2;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st8 {
  opacity: 0.333;
  fill: #5DBAF2;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st9 {
  opacity: 0.381;
  fill: #68BEF3;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st10 {
  opacity: 0.429;
  fill: #73C2F4;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st11 {
  opacity: 0.476;
  fill: #7EC6F5;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st12 {
  opacity: 0.524;
  fill: #88CBF5;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st13 {
  opacity: 0.571;
  fill: #93CFF6;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st14 {
  opacity: 0.619;
  fill: #9ED3F7;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st15 {
  opacity: 0.667;
  fill: #A9D7F8;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st16 {
  opacity: 0.714;
  fill: #B4DCF8;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st17 {
  opacity: 0.762;
  fill: #BFE0F9;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st18 {
  opacity: 0.81;
  fill: #CAE4FA;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st19 {
  opacity: 0.857;
  fill: #D4E8FB;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st20 {
  opacity: 0.905;
  fill: #DFEDFB;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st21 {
  opacity: 0.952;
  fill: #EAF1FC;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st22 {
  fill: #F5F5FD;
}
.service-icon #infrastructure_1_ .st23 {
  fill: #BFEBFC;
}
.service-icon #infrastructure_1_ .st24 {
  fill: #7FD9FA;
}
.service-icon #infrastructure_1_ .st25 {
  fill: #7FD8F7;
}
.service-icon #infrastructure_1_ .st26 {
  opacity: 0.2;
  fill: #1192A7;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st27 {
  opacity: 0.5;
}
.service-icon #infrastructure_1_ .st28 {
  clip-path: url(#SVGID_2_);
}
.service-icon #infrastructure_1_ .st29 {
  fill: #CDD1F6;
}
.service-icon #infrastructure_1_ .st30 {
  clip-path: url(#SVGID_4_);
}
.service-icon #infrastructure_1_ .st31 {
  fill: #E8ECF2;
}
.service-icon #infrastructure_1_ .st32 {
  fill: #6D1487;
}
.service-icon #infrastructure_1_ .st33 {
  fill: #761788;
}
.service-icon #infrastructure_1_ .st34 {
  fill: #7F1A88;
}
.service-icon #infrastructure_1_ .st35 {
  fill: #871C89;
}
.service-icon #infrastructure_1_ .st36 {
  fill: #901F89;
}
.service-icon #infrastructure_1_ .st37 {
  fill: #99228A;
}
.service-icon #infrastructure_1_ .st38 {
  fill: #A2258A;
}
.service-icon #infrastructure_1_ .st39 {
  fill: #AA278B;
}
.service-icon #infrastructure_1_ .st40 {
  fill: #B32A8B;
}
.service-icon #infrastructure_1_ .st41 {
  fill: #BC2D8C;
}
.service-icon #infrastructure_1_ .st42 {
  fill: #C4308C;
}
.service-icon #infrastructure_1_ .st43 {
  fill: #CD328D;
}
.service-icon #infrastructure_1_ .st44 {
  fill: #D6358D;
}
.service-icon #infrastructure_1_ .st45 {
  fill: #DF388E;
}
.service-icon #infrastructure_1_ .st46 {
  fill: #E83B8E;
}
.service-icon #infrastructure_1_ .st47 {
  fill: #F03D8F;
}
.service-icon #infrastructure_1_ .st48 {
  fill: #F9408F;
}
.service-icon #infrastructure_1_ .st49 {
  clip-path: url(#SVGID_6_);
}
.service-icon #infrastructure_1_ .st50 {
  clip-path: url(#SVGID_8_);
}
.service-icon #infrastructure_1_ .st51 {
  clip-path: url(#SVGID_10_);
}
.service-icon #infrastructure_1_ .st52 {
  fill: #B5B9DC;
}
.service-icon #infrastructure_1_ .st53 {
  clip-path: url(#SVGID_12_);
}
.service-icon #infrastructure_1_ .st54 {
  clip-path: url(#SVGID_14_);
}
.service-icon #infrastructure_1_ .st55 {
  fill: #F1F5FA;
}
.service-icon #infrastructure_1_ .st56 {
  clip-path: url(#SVGID_16_);
}
.service-icon #infrastructure_1_ .st57 {
  clip-path: url(#SVGID_18_);
}
.service-icon #infrastructure_1_ .st58 {
  clip-path: url(#SVGID_20_);
}
.service-icon #infrastructure_1_ .st59 {
  clip-path: url(#SVGID_22_);
}
.service-icon #infrastructure_1_ .st60 {
  clip-path: url(#SVGID_24_);
}
.service-icon #infrastructure_1_ .st61 {
  clip-path: url(#SVGID_26_);
}
.service-icon #infrastructure_1_ .st62 {
  fill: url(#Path_43730_1_);
}
.service-icon #infrastructure_1_ .st63 {
  fill: #D4D0C8;
}
.service-icon #infrastructure_1_ .st64 {
  fill: #303030;
}
.service-icon #infrastructure_1_ .st65 {
  fill: #5C697C;
}
.service-icon #infrastructure_1_ .st66 {
  fill: #DCDEED;
}
.service-icon #infrastructure_1_ .st67 {
  fill: #1B1823;
}
.service-icon #infrastructure_1_ .st68 {
  fill: url(#Path_43745_1_);
}
.service-icon #infrastructure_1_ .st69 {
  fill: #21212B;
}
.service-icon #infrastructure_1_ .st70 {
  fill: #404040;
}
.service-icon #infrastructure_1_ .st71 {
  opacity: 0.2;
  fill: #B6CCDF;
  enable-background: new;
}
.service-icon #infrastructure_1_ .st72 {
  fill: #4A4E57;
}
.service-icon #infrastructure_1_ .st73 {
  fill: #1B2029;
}
.service-icon #infrastructure_1_ .st74 {
  clip-path: url(#SVGID_28_);
}
.service-icon #infrastructure_1_ .st75 {
  clip-path: url(#SVGID_30_);
}
.service-icon #infrastructure_1_ .st76 {
  clip-path: url(#SVGID_32_);
}
.service-icon #infrastructure_1_ .st77 {
  fill: #085FD5;
}
.service-icon #infrastructure_1_ .st78 {
  clip-path: url(#SVGID_34_);
}
.service-icon #infrastructure_1_ .st79 {
  fill: #C2C6ED;
}
.service-icon #infrastructure_1_ .st80 {
  fill: #2744AC;
}
.service-icon #infrastructure_1_ .st81 {
  fill: #4289EC;
}
.service-icon #infrastructure_1_ .st82 {
  fill: #FFAA00;
}
.service-icon #infrastructure_1_ .st83 {
  fill: #FFE054;
}
.service-icon #infrastructure_1_ .st84 {
  fill: #FFD100;
}
.service-icon #infrastructure_1_ .st85 {
  fill: #D53A3A;
}
.service-icon #infrastructure_1_ .st86 {
  fill: #FF8888;
}
.service-icon #infrastructure_1_ .st87 {
  fill: #FF5454;
}
.service-icon #mob_apps {
  width: 137.13px;
  height: 136.095px;
}
.service-icon #mob_apps #desktop {
  transform: translate(59.422px);
}
.service-icon #mob_apps #phone_1 {
  transform: translate(100.852px, 60.894px);
}
.service-icon #mob_apps #watch {
  transform: translate(61.739px, 93.738px);
}
.service-icon #mob_apps #phone {
  transform: translate(0, 68.441px);
}
.service-icon #mob_apps .st0 {
  fill: #B5B9DC;
}
.service-icon #mob_apps .st1 {
  fill: #F3E7E0;
}
.service-icon #mob_apps .st2 {
  fill: #F5F5FD;
}
.service-icon #mob_apps .st3 {
  fill: #F2EAE6;
}
.service-icon #mob_apps .st4 {
  fill: #CDD1F6;
}
.service-icon #mob_apps .st5 {
  fill: #F0F3F9;
}
.service-icon #mob_apps .st6 {
  fill: url(#Path_43982_1_);
}
.service-icon #mob_apps .st7 {
  opacity: 0.3;
  fill: #B6CCDF;
  enable-background: new;
}
.service-icon #mob_apps .st8 {
  clip-path: url(#SVGID_2_);
}
.service-icon #mob_apps .st9 {
  fill: url(#Path_44007_1_);
}
.service-icon #mob_apps .st10 {
  clip-path: url(#SVGID_4_);
}
.service-icon #mob_apps .st11 {
  fill: #F1F5FA;
}
.service-icon #mob_apps .st12 {
  fill: url(#Path_44011_1_);
}
.service-icon #mob_apps .st13 {
  fill: #141E30;
}
.service-icon #mob_apps .st14 {
  fill: #98315D;
}
.service-icon #mob_apps .st15 {
  fill: url(#Path_44022_1_);
}
.service-icon #mob_apps .st16 {
  fill: #A5A9D3;
}
.service-icon #mob_apps .st17 {
  fill: #B6BADE;
}
.service-icon #mob_apps .st18 {
  clip-path: url(#SVGID_6_);
}
.service-icon #mob_apps .st19 {
  clip-path: url(#SVGID_8_);
}
.service-icon #mob_apps .st20 {
  clip-path: url(#SVGID_10_);
}
.service-icon #mob_apps .st21 {
  fill: #E3E5F5;
}
.service-icon #mob_apps .st22 {
  clip-path: url(#SVGID_12_);
}
.service-icon #mob_apps .st23 {
  clip-path: url(#SVGID_14_);
}
.service-icon #mob_apps .st24 {
  clip-path: url(#SVGID_16_);
}
.service-icon #mob_apps .st25 {
  clip-path: url(#SVGID_18_);
}
.service-icon #mob_apps .st26 {
  clip-path: url(#SVGID_20_);
}
.service-icon #mob_apps .st27 {
  fill: #C8CBE0;
}
.service-icon #mob_apps .st28 {
  fill: url(#Path_44254_1_);
}
.service-icon #mob_apps .st29 {
  clip-path: url(#SVGID_22_);
}
.service-icon #mob_apps .st30 {
  clip-path: url(#SVGID_24_);
}
.service-icon #mob_apps .st31 {
  clip-path: url(#SVGID_26_);
}
.service-icon #mob_apps .st32 {
  fill: url(#Path_44808_1_);
}
.service-icon #mob_apps .st33 {
  fill: #DCDEED;
}
.service-icon #mob_apps .st34 {
  fill: url(#Path_44820_1_);
}
.service-icon #mob_apps .st35 {
  fill: #5C697C;
}
.service-icon #mob_apps .st36 {
  fill: #1B1B1B;
}
.service-icon #mob_apps .st37 {
  fill: #1B1823;
}
.service-icon #mob_apps .st38 {
  fill: #404040;
}
.service-icon #mob_apps .st39 {
  fill: #21212B;
}
.service-icon #mob_apps .st40 {
  fill: #6D1487;
}
.service-icon #mob_apps .st41 {
  opacity: 0.5;
  fill: url(#Path_44833_1_);
  enable-background: new;
}
.service-icon #full_cycle {
  height: 196px;
  width: 258px;
}
.service-icon #full_cycle #phone {
  transform: translate(62.702px, 153.641px);
}
.service-icon #full_cycle #laptop {
  transform: translate(94.956px, 22.84px);
}
.service-icon #full_cycle #white_message {
  transform: translate(230.976px, 45.685px);
}
.service-icon #full_cycle #red_message {
  transform: translate(200.779px, 43.224px);
}
.service-icon #full_cycle #yellow_message {
  transform: translate(12.783px, 113.301px);
}
.service-icon #full_cycle .st0 {
  fill: #C8D3E5;
}
.service-icon #full_cycle .st1 {
  clip-path: url(#SVGID_2_);
}
.service-icon #full_cycle .st2 {
  clip-path: url(#SVGID_4_);
}
.service-icon #full_cycle .st3 {
  fill: #DCDEED;
}
.service-icon #full_cycle .st4 {
  clip-path: url(#SVGID_6_);
}
.service-icon #full_cycle .st5 {
  fill: #B8C6DB;
}
.service-icon #full_cycle .st6 {
  clip-path: url(#SVGID_8_);
}
.service-icon #full_cycle .st7 {
  clip-path: url(#SVGID_10_);
}
.service-icon #full_cycle .st8 {
  clip-path: url(#SVGID_12_);
}
.service-icon #full_cycle .st9 {
  fill: #F0F3F9;
}
.service-icon #full_cycle .st10 {
  clip-path: url(#SVGID_14_);
}
.service-icon #full_cycle .st11 {
  fill: #F5F5FD;
}
.service-icon #full_cycle .st12 {
  clip-path: url(#SVGID_16_);
}
.service-icon #full_cycle .st13 {
  fill: #CDD1F6;
}
.service-icon #full_cycle .st14 {
  clip-path: url(#SVGID_18_);
}
.service-icon #full_cycle .st15 {
  clip-path: url(#SVGID_20_);
}
.service-icon #full_cycle .st16 {
  clip-path: url(#SVGID_22_);
}
.service-icon #full_cycle .st17 {
  fill: url(#Path_44808_1_);
}
.service-icon #full_cycle .st18 {
  fill: url(#Path_44820_1_);
}
.service-icon #full_cycle .st19 {
  fill: #5C697C;
}
.service-icon #full_cycle .st20 {
  fill: #1B1B1B;
}
.service-icon #full_cycle .st21 {
  fill: #1B1823;
}
.service-icon #full_cycle .st22 {
  fill: #404040;
}
.service-icon #full_cycle .st23 {
  fill: #21212B;
}
.service-icon #full_cycle .st24 {
  fill: #6D1487;
}
.service-icon #full_cycle .st25 {
  opacity: 0.5;
  fill: url(#Path_44833_1_);
  enable-background: new;
}
.service-icon #full_cycle .st26 {
  fill: url(#Path_44855_1_);
}
.service-icon #full_cycle .st27 {
  fill: #D4D0C8;
}
.service-icon #full_cycle .st28 {
  fill: #303030;
}
.service-icon #full_cycle .st29 {
  fill: url(#Path_44870_1_);
}
.service-icon #full_cycle .st30 {
  opacity: 0.2;
  fill: #B6CCDF;
  enable-background: new;
}
.service-icon #full_cycle .st31 {
  fill: #4A4E57;
}
.service-icon #full_cycle .st32 {
  fill: #1B2029;
}
.service-icon #full_cycle .st33 {
  fill: #B5B9DC;
}
.service-icon #full_cycle .st34 {
  fill: url(#Path_45145_1_);
}
.service-icon #full_cycle .st35 {
  clip-path: url(#SVGID_24_);
}
.service-icon #full_cycle .st36 {
  clip-path: url(#SVGID_26_);
}
.service-icon #full_cycle .st37 {
  clip-path: url(#SVGID_28_);
}
.service-icon #full_cycle .st38 {
  fill: #FF8888;
}
.service-icon #full_cycle .st39 {
  clip-path: url(#SVGID_30_);
}
.service-icon #full_cycle .st40 {
  clip-path: url(#SVGID_32_);
}
.service-icon #full_cycle .st41 {
  clip-path: url(#SVGID_34_);
}
.service-icon #full_cycle .st42 {
  fill: #FF5454;
}
.service-icon #full_cycle .st43 {
  fill: #FFB200;
}
.service-icon #full_cycle .st44 {
  clip-path: url(#SVGID_36_);
}
.service-icon #full_cycle .st45 {
  clip-path: url(#SVGID_38_);
}
.service-icon #full_cycle .st46 {
  clip-path: url(#SVGID_40_);
}
.service-icon #full_cycle .st47 {
  fill: #FFD100;
}
.service-icon #web_apps {
  width: 130px;
  height: 128px;
}
.service-icon #web_apps #desktop {
  transform: translate(16.769px);
}
.service-icon #web_apps #station {
  transform: translate(83.158px, 64.441px);
}
.service-icon #web_apps #white_message {
  transform: translate(94.049px, 19.407px);
}
.service-icon #web_apps #phone {
  transform: translate(26.043px, 60.724px);
}
.service-icon #web_apps #yellow_message {
  transform: translate(0, 67.062px);
}
.service-icon #web_apps .st0 {
  fill: #B5B9DC;
}
.service-icon #web_apps .st1 {
  fill: #F3E7E0;
}
.service-icon #web_apps .st2 {
  fill: #F5F5FD;
}
.service-icon #web_apps .st3 {
  fill: #F2EAE6;
}
.service-icon #web_apps .st4 {
  fill: #CDD1F6;
}
.service-icon #web_apps .st5 {
  fill: #F0F3F9;
}
.service-icon #web_apps .st6 {
  fill: url(#Path_44291_1_);
}
.service-icon #web_apps .st7 {
  fill: #DCDEED;
}
.service-icon #web_apps .st8 {
  opacity: 0.3;
  fill: #B6CCDF;
  enable-background: new;
}
.service-icon #web_apps .st9 {
  fill: #FCFDFD;
}
.service-icon #web_apps .st10 {
  clip-path: url(#SVGID_2_);
}
.service-icon #web_apps .st11 {
  fill: url(#Path_44307_1_);
}
.service-icon #web_apps .st12 {
  fill: #6D1487;
}
.service-icon #web_apps .st13 {
  fill: #7A1888;
}
.service-icon #web_apps .st14 {
  fill: #861C88;
}
.service-icon #web_apps .st15 {
  fill: #932089;
}
.service-icon #web_apps .st16 {
  fill: #A0248A;
}
.service-icon #web_apps .st17 {
  fill: #AD288B;
}
.service-icon #web_apps .st18 {
  fill: #B92C8B;
}
.service-icon #web_apps .st19 {
  fill: #C6308C;
}
.service-icon #web_apps .st20 {
  fill: #D3348D;
}
.service-icon #web_apps .st21 {
  fill: #E0388E;
}
.service-icon #web_apps .st22 {
  fill: #EC3C8E;
}
.service-icon #web_apps .st23 {
  fill: #F9408F;
}
.service-icon #web_apps .st24 {
  clip-path: url(#SVGID_4_);
}
.service-icon #web_apps .st25 {
  clip-path: url(#SVGID_6_);
}
.service-icon #web_apps .st26 {
  fill: url(#Path_44345_1_);
}
.service-icon #web_apps .st27 {
  clip-path: url(#SVGID_8_);
}
.service-icon #web_apps .st28 {
  clip-path: url(#SVGID_10_);
}
.service-icon #web_apps .st29 {
  clip-path: url(#SVGID_12_);
}
.service-icon #web_apps .st30 {
  clip-path: url(#SVGID_14_);
}
.service-icon #web_apps .st31 {
  clip-path: url(#SVGID_16_);
}
.service-icon #web_apps .st32 {
  clip-path: url(#SVGID_18_);
}
.service-icon #web_apps .st33 {
  fill: url(#Path_44375_1_);
}
.service-icon #web_apps .st34 {
  clip-path: url(#SVGID_20_);
}
.service-icon #web_apps .st35 {
  fill: #F1F5FA;
}
.service-icon #web_apps .st36 {
  fill: url(#Path_44379_1_);
}
.service-icon #web_apps .st37 {
  fill: #141E30;
}
.service-icon #web_apps .st38 {
  fill: #98315D;
}
.service-icon #web_apps .st39 {
  fill: url(#Path_44390_1_);
}
.service-icon #web_apps .st40 {
  fill: #FFB200;
}
.service-icon #web_apps .st41 {
  clip-path: url(#SVGID_22_);
}
.service-icon #web_apps .st42 {
  clip-path: url(#SVGID_24_);
}
.service-icon #web_apps .st43 {
  clip-path: url(#SVGID_26_);
}
.service-icon #web_apps .st44 {
  fill: #FFD100;
}
.service-icon #iot_integration {
  width: 117px;
  height: 133px;
}
.service-icon #iot_integration #phone {
  transform: translate(5.165px, 62.532px);
}
.service-icon #iot_integration #layout {
  d: path("M51.3,65.3l-41.5,24l56.9,33l41.5-24L51.3,65.3z");
}
.service-icon #iot_integration #arrows {
  transform: translate(64.337px, 50.52px);
}
.service-icon #iot_integration #cloud {
  transform: translate(45.775px);
}
.service-icon #iot_integration #data {
  transform: translate(22.407px, 68.196px);
}
.service-icon #iot_integration #man {
  transform: translate(43.885px, 20.19px);
}
.service-icon #iot_integration #message {
  transform: translate(6.782px, 59.261px);
}
.service-icon #iot_integration #doc {
  transform: translate(0, 37.978px);
}
.service-icon #iot_integration #mail {
  transform: translate(21.629px, 36.261px);
}
.service-icon #iot_integration .st0 {
  fill: #CDD1F6;
}
.service-icon #iot_integration .st1 {
  clip-path: url(#SVGID_2_);
}
.service-icon #iot_integration .st2 {
  clip-path: url(#SVGID_4_);
}
.service-icon #iot_integration .st3 {
  clip-path: url(#SVGID_6_);
}
.service-icon #iot_integration .st4 {
  fill: #119CED;
}
.service-icon #iot_integration .st5 {
  fill: #F5F5FD;
}
.service-icon #iot_integration .st6 {
  fill: url(#Path_44451_1_);
}
.service-icon #iot_integration .st7 {
  fill: #5C697C;
}
.service-icon #iot_integration .st8 {
  fill: #1B1B1B;
}
.service-icon #iot_integration .st9 {
  fill: #1B1823;
}
.service-icon #iot_integration .st10 {
  fill: #404040;
}
.service-icon #iot_integration .st11 {
  fill: #21212B;
}
.service-icon #iot_integration .st12 {
  fill: #98315D;
}
.service-icon #iot_integration .st13 {
  opacity: 0.5;
  fill: url(#Path_44464_1_);
  enable-background: new;
}
.service-icon #iot_integration .st14 {
  fill: url(#layout_1_);
}
.service-icon #iot_integration .st15 {
  fill: #DCDEED;
}
.service-icon #iot_integration .st16 {
  clip-path: url(#SVGID_8_);
}
.service-icon #iot_integration .st17 {
  clip-path: url(#SVGID_10_);
}
.service-icon #iot_integration .st18 {
  clip-path: url(#SVGID_12_);
}
.service-icon #iot_integration .st19 {
  clip-path: url(#SVGID_14_);
}
.service-icon #iot_integration .st20 {
  clip-path: url(#SVGID_16_);
}
.service-icon #iot_integration .st21 {
  clip-path: url(#SVGID_18_);
}
.service-icon #iot_integration .st22 {
  clip-path: url(#SVGID_20_);
}
.service-icon #iot_integration .st23 {
  clip-path: url(#SVGID_22_);
}
.service-icon #iot_integration .st24 {
  clip-path: url(#SVGID_24_);
}
.service-icon #iot_integration .st25 {
  fill: #E3E5F5;
}
.service-icon #iot_integration .st26 {
  fill: #CCCCCC;
}
.service-icon #iot_integration .st27 {
  fill: #B3B3B3;
}
.service-icon #iot_integration .st28 {
  fill: #FF5454;
}
.service-icon #iot_integration .st29 {
  fill: #0EB5E3;
}
.service-icon #iot_integration .st30 {
  fill: #085FD5;
}
.service-icon #iot_integration .st31 {
  fill: #FFD100;
}
.service-icon #iot_integration .st32 {
  fill: #55595F;
}
.service-icon #iot_integration .st33 {
  fill: #7C93B8;
}
.service-icon #iot_integration .st34 {
  fill: #135788;
}
.service-icon #iot_integration .st35 {
  fill: #BFC8D7;
}
.service-icon #iot_integration .st36 {
  fill: #FFDFCD;
}
.service-icon #iot_integration .st37 {
  fill: #D7E2E8;
}
.service-icon #iot_integration .st38 {
  fill: #0B0C0D;
}
.service-icon #iot_integration .st39 {
  fill: #28222F;
}
.service-icon #iot_integration .st40 {
  fill: #2B0D04;
}
.service-icon #iot_integration .st41 {
  opacity: 0.3;
  fill: #2B0D04;
  enable-background: new;
}
.service-icon #iot_integration .st42 {
  fill: #393244;
}
.service-icon #iot_integration .st43 {
  fill: #2744AC;
}
.service-icon #iot_integration .st44 {
  fill: #4289EC;
}
.service-icon #iot_integration .st45 {
  fill: #FFAA00;
}
.service-icon #iot_integration .st46 {
  fill: #FFE054;
}
.service-icon #iot_integration .st47 {
  fill: #D53A3A;
}
.service-icon #iot_integration .st48 {
  fill: #FF8888;
}

.expertise {
  margin: 65px auto;
}
.expertise h2 {
  margin-bottom: 40px;
}

.accordion .card {
  border-color: #ffffff;
  border-radius: 0;
  letter-spacing: 0;
  color: #4D4D4D;
}
.accordion .card .card-header {
  position: relative;
  padding: 30px 30px 30px 65px;
  background-color: #F8F8F8;
  border: none;
  font-family: Roboto, "Open Sans", serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  cursor: pointer;
}
.accordion .card .card-header::before {
  content: url(../images/icons/plus.svg);
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion .card .card-header::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  left: 36px;
  top: calc(50% - 8px);
  background-color: #22a2ff;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.accordion .card .card-header[aria-expanded=true]::after {
  transform: rotate(-90deg);
}
.accordion .card .card-body {
  padding: 10px 30px 30px 70px;
  background-color: #F8F8F8;
}
.accordion .card ul li {
  position: relative;
  display: block;
  padding: 2px 7px 3px;
}
.accordion .card ul li::before {
  content: "-";
  position: absolute;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
